@media (max-width: 600px) {
	.simple, .simple tbody, .simple td, .simple tr {
		display: block;
	}

	.simple th {
		display: none;
	}

	.simple td {
		padding-left: 45%;
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		text-align: left;
		vertical-align: middle;
	}

	.simple td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 40%;
		text-align: left;
		vertical-align: middle;
		white-space: nowrap;
		top: 0.1rem;
	}

	.simple tr:nth-of-type(2n) td {
		border-bottom: 1px solid #fff;
	}

	#évolution td:nth-of-type(1):before { content: "Niveau"; }
	#évolution td:nth-of-type(2):before { content: "Bonus maîtrise"; }
	#évolution td:nth-of-type(3):before { content: "Aptitudes"; }
	#évolution td:nth-of-type(4):before { content: "Pokémons"; }
	#évolution td:nth-of-type(5):before { content: "DE max"; }
	
	#niveau td:nth-of-type(1):before { content: "Niveau Dresseur"; }
	#niveau td:nth-of-type(2):before { content: "Niveau Pokémons"; }
}