@media (min-width: 920px) {
	body {
		margin: auto;
	}
}

body {
	color: #363636;
	font-family: "Helvetica","Tahoma","Geneva","Arial",sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	max-width: 900px;
	margin-top: 64px;
}

#menu {
	background-color: #563f5a;
	color: #ffffff;
	height: 48px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

#menu-contenue {
	max-width: 900px;
}

@media (min-width: 920px) {
	#menu-contenue {
		margin: auto;
	}
}

#menu img {
	height: 40px;
	margin: 4px;
	vertical-align: middle;
}

#menu .titre {
	font-family: "Cinzel",serif;
	font-weight: 400;
	font-size: 1.1rem;
	color: #ffffff;
	vertical-align: middle;
}

@media (min-width: 480px) {
	#menu .titre {
		font-size: 2rem;
	}
}

#recherche {
	display: inline;
	background-color: #563f5a;
}

#recherche input {
	width: 33%;
	float: right;
	margin-top: 12px;
	margin-right: 12px;
}

#resultats_recherche {
	float: right;
	width: 100%;
	margin-top: 0;
	clear: both;
	background-color: #563f5a;
	padding-left: 5px;
	border: solid #000000 1px;
}

#resultats_recherche a {
	color: #ffffff;
}

#resultats_recherche li {
	margin-left: 12px;
}

@media (min-width: 920px) {
	#recherche input {
		margin-right: 0;
	}
	
	#resultats_recherche {
		width: 33%;
	}
}


p {
	margin-top: 0;
}

h1, h2, h3, h4 {
	font-family: "Cinzel",serif;
	line-height: 1.125;
}

h2, h3, h4 {
	color: #563f5a;
}

h1 {
	color: #9b1c47;
	font-size: 2rem;
	margin-bottom: 0;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

h2 {
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 0.7rem;
}

h3 {
	border-bottom: 1px solid #563f5a;
	font-size: 1.25rem;
	font-weight: 600;
	padding-bottom: 0.1rem;
	margin-bottom: 0.5rem;
}

h4 {
	
	margin-bottom: 0.3rem;
}

a {
	color: #9b1c47;
	text-decoration: none;
}

.simple {
	margin: auto;
	border-collapse: collapse;
	border: none;
	font-family: "Average",serif;
	margin-bottom: 2em;
}

.simple tr:nth-of-type(2n) {
	background: #ededed;
}

.simple th {
	padding: 6px 25px;
	text-align: left;
	vertical-align: middle;
	background: #b5aab9;
	font-family: "Marcellus SC",serif;
	color: #fff;
	text-align: center;
	font-weight: 700;
}

.simple th a {
	color: #fff;
	border-bottom: 1px solid #9b1c47;
}

.simple td {
	text-align: center;
}

li {
	list-style-type: none;
	list-style-position: outside;
}

li::before {
	font-weight: 700;
	font-size: 1.2em;
	font-family: "Marcellus SC",serif;
	content: "» ";
}

.sans-puce::before {
	content: "";
}
 
#type img {
	vertical-align: middle;
}
